{% extends 'base.html' %}

{% load static %}

{% block title %}Лицо{% endblock %}

{% block style %} <link rel="stylesheet" href="{% static 'info.css' %}"> {% endblock %}

{% block content %}
<header class="header">
    <div class="logo">
        <a href="/" class="register-link">ООО Собственники компаний</a>
    </div>
	<div class="right-push"></div>
    <div class="right-menu">
		{% comment %} <a href="/" class="register-link">Физическое/Юридическое лица</a>  {% endcomment %}
		<a href="/cart" class="register-link">Корзина</a>

    </div>
	</header>
    <div class="container">
        <div class="card_face">
            <img src="{{image}}" alt="Физическое/Юридическое лицо" class="face-image">
            <div class="card-details">
                <h2>{{name}}</h2>
                <p>{{description}}</p>
                <p class="type">{{type}}</p>
            </div>
        </div>
    </div>
{% endblock %}