{% extends 'base.html' %}

{% load static %}

{% block title %}Лица{% endblock %}

{% block style %} <link rel="stylesheet" href="{% static 'start.css' %}"> {% endblock %}

{% block content %}
<header class="header">
    <div class="logo">
        <a href="/" class="register-link">ООО Собственники компаний</a>
    </div>
    <form action="searchPasses" method="post" enctype="multipart/form-data" class="search">
        {% csrf_token %}
        <input name="text" type="text" value="{{search_text}}" class="search-input"><br><br>
        <input type="submit" value="Поиск" class="search-button">

    </form>
    <div class="register">
		<a href="{% url 'cart'%}">Корзина</a>
    </div>
	</header>
    <main>
        <div class="card-grid">
            {% for card in data %}
                {% include 'card.html' with element=card %}
                {% empty %}
                    <p>Список пуст</p>
            {% endfor %}
        </div>
    </main>

    {% endblock %}