body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.right-push {
	margin-left: auto;
	padding: 0px;
}

.header a {
    display: inline-block;
    padding: 16px 82px;
    background: url(http://localhost:9000/lab1/logo-head.svg);
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
}

.card_face {
    display: flex;
    align-items: center;
}

.face-image{
    max-width: 35%;
    display: flex;
    align-items: center;
}


.card-details {
    flex: 1;
    margin: 20px;
}

.card-details h2 {
    margin: 0 0 10px;
}

.card-details p {
    margin: 5px 0;
}


.button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #346df1;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

.button:hover {
    background-color: #aeaeae;
}

.korz-line {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.korz-line a { 
    display: inline-block;
    padding: 15px 25px;
    background-color: #346df1;
    color: white;
    text-decoration: none;
    font-size: 14px;
    border-radius: 10px;
}