{% extends 'base.html' %}

{% load static %}

{% block title %}Корзина{% endblock %}

{% block style %} <link rel="stylesheet" href="{% static 'korz.css' %}"> {% endblock %}

{% block content %}

<header class="header">
    <div class="logo">
        <a href="/" class="register-link"></a>
    </div>
</header>
    <h1 class="search-del-line">
        <div class="right-push"></div>
        <div class="right-menu">
        <div>
            <a href="{% url 'card_del' company_id%}" class="register-link">Удалить заявки</a>
        </div>
    </h1>
    <div class="container_UR">
        <form action="/" method="post" enctype="multipart/form-data" class="">
            {% csrf_token %}
            <p><b>Название компании:</b><br>
            <input name="company-name" type="text" value="{{company_name}}" class="search2-input"><br><br>
            <p><b>Описание компании:</b><br>
            <input name="company-description" type="text" value="{{company_description}}" class="search2-input"><br><br>
    
        </form>
    </div>
    <div class="container_FIZ">
        <div class="total">
            <h2>Собственники:</h2>
        </div>
        {% for card in data %}
                {% include 'korz_card.html' with element=card %}
                {% empty %}
                    <p>Список пуст</p>
        {% endfor %}
        </div>
    </div>

    {% endblock %}