{% extends 'base.html' %}

{% load static %}

{% block title %}Корзина{% endblock %}

{% block style %} <link rel="stylesheet" href="{% static 'korz.css' %}"> {% endblock %}

{% block content %}

<header class="header">
    <div class="logo">
        <a href="/" class="register-link"></a>
    </div>
	<div class="right-push"></div>
    <div class="right-menu">
		{% comment %} <a href="/">Физические/Юридические лица</a> {% endcomment %}
    </div>
	</header>
    <div class="container_UR">
        <div class="total">
            <h2>Юридическое лицо:</h2>
        </div>
        {% for card in cards_UR %}
                {% include 'korz_card.html' with element=card %}
                {% empty %}
                    <p>Список пуст</p>
        {% endfor %}
        </div>
    </div>

    <div class="container_FIZ">
        <div class="total">
            <h2>Физические лица:</h2>
        </div>
        {% for card in cards_FIZ %}
                {% include 'korz_card.html' with element=card %}
                {% empty %}
                    <p>Список пуст</p>
        {% endfor %}
        </div>
    </div>

    {% endblock %}