{% extends 'base.html' %}

{% load static %}

{% block title %}Корзина{% endblock %}

{% block style %} <link rel="stylesheet" href="{% static 'korz.css' %}"> {% endblock %}

{% block content %}

<header class="header">
    <div class="logo">
        <a href="/" class="register-link"></a>
    </div>
</header>
    <h1 class="search-del-line">
        <form action="{% url 'searchCompanies' %}" method="post" enctype="multipart/form-data" class="search2">
            {% csrf_token %}
            <input name="text" type="text" value="{{search_text}}" class="search2-input"><br><br>
            <input type="submit" value="Поиск" class="search2-button">

        </form>
        <div>
            <a href="{% url 'card_del'%}" class="register-link">Удалить заявки</a>
        </div>
    </h1>
    <div class="container_UR">
        <div class="total">
            <h2>Юридическое лицо:</h2>
        </div>
        {% for card in cards_UR %}
                {% include 'korz_card_UR.html' with element=card %}
                {% empty %}
                    <p>Список пуст</p>
        {% endfor %}
        </div>
    </div>

    <div class="container_FIZ">
        <div class="total">
            <h2>Физические лица:</h2>
        </div>
        {% for card in cards_FIZ %}
                {% include 'korz_card_FIZ.html' with element=card %}
                {% empty %}
                    <p>Список пуст</p>
        {% endfor %}
        </div>
    </div>

    {% endblock %}