{% extends 'base.html' %}

{% load static %}

{% block title %}Лица{% endblock %}

{% block style %} <link rel="stylesheet" href="{% static 'start.css' %}"> {% endblock %}

{% block content %}
<header class="header">
    <div class="logo">
        <a href="/" class="register-link"></a>
    </div>
	</header>
    <main>
        <h1 class="search-line">
            <form action="{% url 'searchOwners' %}" method="post" enctype="multipart/form-data" class="search">
                {% csrf_token %}
                <input name="text" type="text" value="{{search_text}}" class="search-input"><br><br>
                <input type="submit" value="Поиск" class="search-button">
        
            </form>
            <div>
                <a href="{% url 'company'%}" class="register-link">Компания ●{{count}}</a>
            </div>
        </h1>
        <div class="card-grid">
            {% for card in data %}
                {% include 'card.html' with element=card %}
                {% empty %}
                    <p>Список пуст</p>
            {% endfor %}
        </div>
    </main>

    {% endblock %}